<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tales Laguardia - Currículo</title>
</head>
<body>
    <main>
        <aside class="navegacao-topo">
            <h1 class="nome-tales"> TALES LAGUARDIA </h1>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="curriculo">Sobre mim</a></li>
                <li><a href="contact-me">Contato</a></li>
            </ul>
        </aside>
        <h1 class="subtitulo-sobre">Sobre mim</h1>
        <div class="container">
            <h2 class="subtitulo-texto">Formação</h2>
            <ul class="formacoes">
                <li> PUC-PR - Desenho Industrial: Design Digital </li>
                <li> Centro Europeu - Fotografia </li>
                <li> PUC-PR - Especialização em Engenharia e Gestão da Industria 4.0 – 
                    Produção Inteligente e Flexível (Cursando)</li>
            </ul>
            <h2 class="subtitulo-texto">Certificados</h2>
                <ul class="certificado">    
                    <li><a href="https://cursos.alura.com.br/user/taleslfm/fullCertificate/17eff8397f36d620b42c62c9f72832ce" target="_blank">
                    Lista completa de Certificados</a></li>
                    <li><a href="https://cursos.alura.com.br/user/taleslfm/career/introducao-ciencia-de-dados/certificate" target="_blank">
                    Certificado de Ciência de Dados</a></li>
                    <li><a href="https://cursos.alura.com.br/user/taleslfm/career/desenvolvimento-jogos-unity/certificate" target="_blank">
                    Certificado Desenvolvimento de Jogos com Unity</a></li>
                </ul>
            <h2 class="subtitulo-texto">Habilidades</h2>
            <table class="habilidades">
                <thead>
                    <tr>
                        <th>Habilidade</th>
                        <th>Nível</th>
                        <th>Experiências</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>HTML5</th>
                        <td>Proficiente</td>
                        <td>Uso em todos os sites que desenvolvo</td>
                    </tr>
                    <tr>
                        <th>CSS3</th>
                        <td>Proficiente</td>
                        <td>Uso em todos os sites que desenvolvo</td>
                    </tr>
                    <tr>
                        <th>Design</th>
                        <td>Proficiente</td>
                        <td>Formado em Desenho Industrial - Design Digital pela PUC-PR</td>
                    </tr>
                    <tr>
                        <th>Git</th>
                        <td colspan="2" rowspan="3">Estudando</td>
                    </tr>
                    <tr>
                        <th>JavaScript</th>
                    </tr>
                    <tr>
                        <th>Ruby on Rails</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <footer class="rodape-pagina">
         Tales Laguardia 2019 &copy;
         <ul class="icones-redes-sociais">
                <li>
                    <a href="https://github.com/taleslfm" class="github" data-tooltip="Veja meus projetos opensource">
                        Github
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/tales-laguardia-a59791b9/" class="linkedin" data-tooltip="Veja meu currículo">
                        LinkedIn
                    </a>
                </li>
            </ul>
    </footer>
</body>
</html>
