<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>Tales Laguardia - Fullstack Developer</title>
    </head>
    <body>
        <header class="titulo-principal">
            <%= image_tag("eu.jpg", alt: "Foto Tales Laguardia", class: "foto-home") %>
            <h1>Tales Laguardia</h1>
            <p class="subtitulo-principal">FULLSTACK DEVELOPER</p>
        </header>
        <main>
            <section class="secao-inicio saudacao">
                <p class="saudacao"><span class="saudacao-inicio">Olá,</span> meu nome é <strong>Tales Laguardia.</strong>
                    <span class="saudacao-ultima-linha">Bem vindo ao meu <strong>site pessoal!</strong></span></p>
                <a class="botao-index" href="bio">Conheça mais um pouco sobre mim</a>
            </section>
        </main>
        <footer>
            <h2>Vamos conversar?</h2>
            <p>Você pode entrar em contato comigo por <a href="contact-me">e-mail.</a></p>
        </footer>
    </body>
</html>